**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
# Kompletter Test-Baum: Testprojekt-Quelle UND Runtime-/Testdaten
# (Bind-Mount-Ziele fuer Postgres, Elasticsearch, Storage). Wird von keinem
# Service-Image gebraucht, wuchs im Betrieb unbegrenzt und machte beim Build
# Probleme -> gehoert nie in den Build-Context.
tests
**/tests/data
# Weitere Nicht-Quellcode-Ordner/-Dateien, die kein Image braucht.
docu
tools
TestResults
**/TestResults
**/.idea
.github
qodana.yaml
.gitattributes
**/*.dcproj
**/*.dcproj.user
**/launchSettings.json
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**